.cardBox {
    cursor : pointer ;
    height : 400px ;
    width : 400px ;
    perspective : 800px ;
    position : relative ;
    margin : auto ;
    transition : ease-in ;
}

.card {
    background : url('../../../images/ruledPaper.jpg') center no-repeat;
    text-align: center ;
    height : 300px ;
    width : 400px ;
    position : absolute ;
    border : 1px solid rgb(1, 100, 42) ;
    transform-style: preserve-3d ;
    transition : all 0.2s ease-in-out ;
}

.card:hover {
    transform : rotateY(180deg) ;
    transition : all 0.2s ease-in-out ;
}


.validate {
    color: rgba(255, 255, 255, 0.75);
}