.googleButton {
    background-color : rgba(255, 70, 29, 0.748) ;
    margin : 10px
}

.facebookButton {
    background-color : rgba(20, 200, 255, 0.755) ;
    /* margin: 50px 50px ; */
}

.middle {
    position: absolute ;
    left: 35% ;
    top: 40% ;
}